 *{
    padding: 0;
    margin: 0;
 }
 
 nav{
    
    display: flex;
    justify-content: space-between;
    background-color: rgb(87, 83, 83);
    height: 70px;
    
 }

 nav i{
    color: white;
    margin: 10px;
    margin-top: 25px;
 }

 .sec1{
    position: relative;
    background-image: url("images/cover.jpg");
    height: 94vh;
    
    color: #222222;
    background-size: cover;
    background-position: center 48%;
    background-repeat: no-repeat;
    
 }
 .sec1 h1{
    position:absolute ;
    top: 100px;
    left: 300px;
    display: flex;
    height: 100px;
    
    justify-content: center;
    align-items: center;
    font-weight:normal;
    font-size: 50px;
 }

 .sec1 p{
    position:absolute ;
    top: 160px;
    left:450px;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-top: 10px;
    color: rgb(51, 49, 49);
 }

 .hero-form .form-control{
    position:absolute ;
    top: 270px;
    left:410px;
    display: flex;
   height: 70px;
   padding-left: 25%;
   background-color: #fff;
   border: 1px solid #ccc ;
   
   margin-bottom: 0;
    
 }
 .hero-form input{
    font-size: 20px;
    
 }

 .hero-form .btn {
    position:absolute ;
    
    
    top: 280px;
    left:420px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 20px;
    background-color:#3ec514;
    color: #fff;
    border: none;
    
   height: 53px;
  }

  .sec2 p{
   color: #52b035;
   margin-top: 80px;
   font-size: 30px;
   
   text-align: center;

  }

  .sec3{
   position: relative;
   display: flex;
   
  }

  .sec3 img{
   margin: 10px;
   margin-top: 40px;
   width: 310px;
   height: 240px;
  }

  .sec3 p{
   color: white;
   position: absolute;
   margin-left: 70px;
   top: 100px;
   font-size: 30px;
   justify-content: center;
   display: flex;
   height: 100px;
   align-items: center;
   

  }

  .sec4{
   position: relative;
   display: flex;
  }

  .sec4 img{
   margin: 10px;
   margin-top: 40px;
   width: 310px;
   height: 240px;
}

.sec4 p{
   color:#fff;
   position: absolute;
   margin-left: 70px;
   top: 100px;
   font-size: 30px;
   justify-content: center;
   display: flex;
   height: 100px;
   align-items: center;
}

.sec5{
   display: flex;
   justify-content: space-between;
   background-color: rgb(241, 239, 239);
   margin-top: 100px;
   padding: 70px;
}





.sec5 p{
   font-size: 25px;
   
}

.sec5 button{
   font-size: 25px;
}

.sec6{
   
   display: flex;
   
   margin-left: 20px;
}

.sec6 p{
   margin-left: 130px;
}

.sec6 img{
   
   
   margin: 10px;
   margin-top: 10px;
   width: 310px;
   height: 240px;
}

.container{
   background-color:rgb(241, 239, 239) ;
}

.sec5 button{
   border:1px solid #52b035;
   color:#52b035 ;
   padding: 5px;
}

.sec7{
   justify-content: space-between;
   display: flex;
   margin-left: 10px;
}

.sec7 img{
   
   
   margin: 10px;
   margin-top: 10px;
   width: 310px;
   height: 240px;
}

.sec7 button{
   border:1px solid #52b035;
   color:#52b035 ;
   padding: 5px;

}

.sec8{
   display: flex;
   margin-left: 20px;
}

.sec8 img{
   margin: 10px;
   margin-top: 10px;
   width: 310px;
   height: 240px;

}

.sec7{
   margin-top: 50px;
   margin-bottom: 30px;
}

.sec7 button{
   border:1px solid #52b035;
   color:#52b035 ;
   margin-left: 50px;
   padding: 5px;
   padding-left: 15px;
   font-size: 25px;
   
   }

   .sec7 p{
      font-size: 25px;
   }

   
   .sec6 .star{
      color:goldenrod;
      margin-left: 230px;
      
      
   }
   .sec8 .star{
      color:goldenrod;
      margin-left: 230px;
      
      
   }

   .sec8 p{
      margin-left: 130px;
   }

   .sec9{
      justify-content: space-between;
      display: flex;
      margin-top: 50px;
      margin-bottom: 30px;
   }

   .sec9 button{
      border:1px solid #52b035;
      color:#52b035 ;
      margin-left: 50px;
      padding: 5px;
      padding-left: 15px;
      font-size: 25px;
}

.sec10{
   display: flex;
}

.sec10 img{
   margin: 10px;
   margin-top: 10px;
   width: 310px;
   height: 240px;
}

.sec10 p{
   margin-left: 130px;
}

.sec10 .star{
   color:goldenrod;
   margin-left: 230px;
}

.sec9 p{
   font-size: 25px;
}




.sec11{
   justify-content: space-between;
   display: flex;
   margin-top: 50px;
   margin-bottom: 30px;
}

.sec11 button{
   border:1px solid #52b035;
   color:#52b035 ;
   margin-left: 50px;
   padding: 5px;
   padding-left: 15px;
   font-size: 25px;
}

.sec12{
display: flex;
}

.sec12 img{
margin: 10px;
margin-top: 10px;
width: 310px;
height: 240px;
}

.sec12 p{
margin-left: 130px;
}

.sec12 .star{
color:goldenrod;
margin-left: 230px;
}

.sec11 p{
   font-size: 25px;
}

.sec13{
position: relative;
   margin-top: 130px;
   display: flex;
   background-color: #fff;
   justify-content: flex-end;
   
}

.sec13 ul{
   
   
   
   list-style: none;
   
   margin: 40px;
   color: #52b035;
   font-size: 15px;
   padding: 
   
   
   
   
}

.sec13 li{

   padding: 10px;
   
}

.sec13 .ner{
   position: absolute;
   top:50px;
   right: 800px;
}

.sec14{
   display: flex;
   justify-content: end;
   
}

.sec14 .men{
   margin: 40px;
   font-size: 20px;
   color: #302d2d;
}

.end img{
   margin-left: 550px;
   margin-top: 40px;
}

.end {
   position: relative;
   
   
   display: flex;
  
   
   
}



.grid{
   position: absolute;
   top: 110px;
   left: 190px;
   display:flex;
   justify-content: center;
   align-items: center;
   
}

.grid .item p{
   color: #302d2d;
   margin: 10px;
   text-align: center;
}

.grid .item h2{
   font-size: 15px;
   color: #252222;
   margin: 10px;
   text-align: center;
}









  